@import 'https://fonts.googleapis.com/css?family=Raleway:400,800';
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import url(https://fonts.googleapis.com/css?family=Karma:400,700);

/* ----------------------------------------------------------------------------------- */
/* CSS Reset & Clear
/*----------------------------------------------------------------------------------- */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,
abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,
var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
		background: transparent;
		box-sizing: border-box !important;
}

html{
 	font-size: 62.5%;
 	background-color: #fff;
 	color:$primary-color;
}

body{
	font: 300 1.4rem/1.4 'Karma';
	overflow-x: hidden;
}

img {
	max-width: 100%;
	height: auto;
}

a{
  text-decoration:none;
  transition: all .3s ease;
}

header, nav, section, aside, footer {
	padding: 5px;
	
}

/* NAVIGATION */

$link-vertical-padding:15px;      //Controls Menu top & bottom padding
$link-horizontal-padding:20px;    //Contols Menu left & right padding

nav {
	width:100%;
	background:darken(#262626,5%);
	
}

nav ul {
  list-style:none;
    li {
	  float:left;
	  position:relative;
	  z-index:1;
	  a {
		display:block;
		padding: $link-vertical-padding $link-horizontal-padding;
		text-align:center;
		color:$link-color;
		border-right:1px solid darken($primary-color, 10%);
		
		&:hover {
		  background:darken($primary-color, 10%);
		  color:$link-hover;
		}
	  }
 	}
}  

header{
	text-align: center;
	margin-bottom: 1em;
	h1{
		text-transform: uppercase;
		font-size: 2.5em;
	}
}

.footer{
	min-height:180px;
	margin-top:20px;
	background:#333;
	color:#fff;
	.copy{
		padding:20px 0 0 0;
	}
	a {
		color: #fff;
		&:hover {
			color:$link-hover;
 	    }
	}
	ul {
		list-style: none;
		li{
			padding:5px 0 5px 0;
			border-bottom:dotted #666 1px;
		}
	}
}

.float-right{
	float: right;
}

.fa{
    font-size: .8em;
	line-height: 22px !important;
}

.cf {
	*zoom:1;
	&:after{
		content: '';
		display: block;
		clear: both;
	}
}

h1 {
	font-size: 3em;
	padding: 3em 0 1em 0;
}

/* Generic Grid */

$columns: 12;
$gutter: .3rem;

.container {
	width: 100%;
	max-width: 90%;
	margin: 0 auto;
	padding-right: $gutter;
	padding-left: $gutter;
	
}

.row {
	position: relative;
	margin-right: -$gutter;
	margin-left: -$gutter;
}

[class*='col-']
{
	position: relative;
	float: left;
	width: 100%;
	min-height: 1px;
	padding: 0 $gutter;
}

@for $i from 1 through $columns {
	$col-width: percentage($i / $columns);
	.col-s-0 {
		width: 0;
	}
	.col-s-#{$i} {
		width: $col-width;
	}
}

article{
	border-bottom:1px dotted #ccc;
	padding:10px 0 20px 0;
	img{
		width:100%;
	}

	h2{
		margin:0;
		padding-top:10px;
	}

	.meta{
		margin:10px 0 10px 0;
		padding:5px;
		background:#333;
		color:#fff;
		span{
			float:right;
		}
		
	}
	.readmore{
		background:#f4f4f4;
		color:#000;
		width:97%;
		display:block;
		text-align:center;
		padding:10px;
		border:1px solid #ccc;
		border-radius:10px;
	}

	.readmore:hover{
		background:$link-hover;
	}
}

.content {
	float:left;
	border: 1px solid #ccc;
	border-radius:10px;
	padding:0 20px 20px 20px;
}


.aside {
	float:right;
}


.search{
	
	padding: 0.5em;
	float:right;

	input[type="search"]{
		border:#ccc 1px solid;
		border-radius:5px;
		height:20px;
		width:85%;
		padding:3px;
		float:left;
	}

	input[type="image"]{
		width:10%;
		float:right;
	}
	
	input[type="search"]:focus {
		outline: 0.3rem solid $link-hover;
		background: #ffa;
		border-radius: 5px;
	}

}

.sub-nav{
	padding:20px 0 20px 0;

	ul{
		list-style: none;
	}
	li{
		font-size:16px;
		font-weight: bold;
		padding:5px 0 5px 0;
		border-bottom: dotted 1px #333;
	}

	a{
		color:#333;
	}

	a:hover, a.active{
		color:$link-hover;
	}
}


.gallery {

	padding: 10px 10px 100px 10px;
    margin: 0 auto;
    list-style: none;
    text-align: center;

	li {
		display: inline-block;
		margin: 0;
		// text-align: left;
		position: relative;
	}

	figure {
		margin: 0;
		position: relative;
	}

	figure img {
		max-width: 100%;
		display: block;
		position: relative;
	}

	figcaption {
		position: absolute;
		top: 0;
		left: 0;
		padding: 20px 5px;
		background: $link-hover;
		color: #deedde;

		h3 {
			margin: 0;
			padding: 0;
			color: #fff;
		}

		span:before {
			content: 'by ';
		}

		a {
			text-align: center;
			padding: 5px;
			margin: 0 80px;
			border-radius: 2px;
			display: inline-block;
			background: darken($link-hover, 10%);;
			color: #fff;
		}
	}


}

/* Caption */

.caption-hover figure {
		overflow: hidden;
	}

.caption-hover figure img {
		transition: transform 0.4s;
}

.caption-hover figure:hover img  {
		transform: translateY(-50px);
}

.caption-hover figcaption {
		height: 50px;
		width: 100%;
		top: auto;
		bottom: 0;
		opacity: 0;
		transform: translateY(50%);
		transition: transform 0.4s, opacity 0.1s 0.3s;
}

.caption-hover figure:hover figcaption {
		opacity: 1;
		transform: translateY(0px);
		transition: transform 0.4s, opacity 0.1s;
	}

.caption-hover figcaption a {
		position: absolute;
		bottom: 20px;
		right: 20px;
}


.menu{
	position: relative;
	margin: 0;
	padding: 0;
	
	.fixed_top{
		position: fixed;
		background:darken(#262626,5%);
		width: 100%;
 		z-index: 100;
	}

}